body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

#game-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

#flag-image {
    width: 100%;
    max-width: 300px; /* Taille maximale pour l'iframe */
    height: auto;
    border: 1px solid #ccc;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#guess-input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#submit-guess, #next-question {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

#submit-guess {
    background-color: #007bff;
    color: white;
}
#submit-guess:hover { background-color: #0056b3; }

#reset-game {
    background-color: #dc3545; /* Couleur rouge */
    color: white;
    padding: 8px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-game:hover {
    background-color: #c82333;
}

#next-question {
    background-color: #28a745;
    color: white;
}
#next-question:hover { background-color: #1e7e34; }


.message-default {
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    min-height: 20px;
}

.message-success {
    background-color: #d4edda;
    color: #155724;
}

.message-error {
    background-color: #f8d7da;
    color: #721c24;
}